/*
font-family: pragmatica-extended, sans-serif;
font-weight: 300(light) / 400(book)/ 500(medium)
700(bold) / 800(extra bold) / 900 (black);
font-style: normal;
*/
.gallery .button-play, .gallery, .centrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.servicios, .home {
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "pragmatica-extended", sans-serif;
}

body {
  background-color: #1e1e1e;
}

.title {
  font-weight: 900;
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.subtitle {
  font-weight: 900;
  font-size: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
}

.subtitle__chico {
  font-size: 28px;
}

.content {
  font-weight: 300;
  font-size: 18px;
}

a {
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #c52636;
}

.btn {
  background-color: white;
  color: black;
  font-weight: 800;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: white;
  color: black;
  transform: scale(115%);
  -webkit-transform: scale(115%);
  -o-transform: scale(115%);
  -moz-transform: scale(115%);
}

header {
  background: linear-gradient(to bottom, black, transparent);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  padding-left: 5%;
  padding-right: 5%;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
header nav ul li a {
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  header nav {
    flex-direction: column;
    height: 250px;
    text-align: center;
  }
  header nav ul {
    flex-direction: column;
    gap: 10px;
  }
  header nav ul li a {
    font-size: 13px;
  }
}

.nav__h1 {
  font-weight: 800;
  font-size: 26px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  .nav__h1 .nav__h1 {
    font-size: 18px;
  }
}

.footer-mio {
  font-weight: 300;
  font-size: 14px;
  padding: 25px;
  padding-left: 50px;
}
.footer-mio a {
  margin: 5px;
}
.footer-mio a i {
  transition: all 0.5s ease;
}
.footer-mio a i:hover {
  transform: scale(135%);
  -webkit-transform: scale(135%);
  -o-transform: scale(135%);
  -moz-transform: scale(135%);
  color: #c52636;
}
.footer-mio p {
  margin-left: 7px;
}
@media screen and (max-width: 576px) {
  .footer-mio {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
}

.footer__gradient {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, black, transparent);
}
@media screen and (max-width: 576px) {
  .footer__gradient {
    position: relative;
    padding-top: 20px;
  }
}

.home {
  background-image: url(../assets/img/background-image-70porcientopng.png);
  height: 100vh;
}

.andalaosa {
  font-weight: 900;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.andalaosa__subtitle {
  font-weight: 800;
  font-size: 23px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.osa {
  padding-top: 150px;
  padding-bottom: 70px;
  transition: all 0.5s ease-in-out;
}
.osa:hover {
  transform: scale(115%);
  -webkit-transform: scale(115%);
  -o-transform: scale(115%);
  -moz-transform: scale(115%);
}

@media screen and (max-width: 576px) {
  .andalaosa {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .andalaosa__subtitle {
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25%;
  }
  .osa {
    padding-top: 100px;
    padding-bottom: 70px;
    width: 270px;
  }
}
.bear_power {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  margin: 3%;
}

.bear_title {
  text-align: center;
  padding-left: 20%;
}

.bear_descripcion {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  text-align: end;
}

.emi {
  background-image: url(../assets/img/emi.png);
}

.mica {
  background-image: url(../assets/img/mica.png);
}

.crew {
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text_left {
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 55%;
}
.text_left a i {
  transition: all 0.5s ease;
  padding: 3px;
}
.text_left a i:hover {
  scale: 125%;
  color: #c52636;
}

.text_right {
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 55%;
  padding-right: 15%;
  text-align: end;
}
.text_right a i {
  transition: all 0.5s ease;
  padding: 3px;
}
.text_right a i:hover {
  scale: 125%;
  color: #c52636;
}

@media screen and (max-width: 576px) {
  .bear_power {
    flex-direction: column;
    height: 700px;
  }
  .bear_title {
    font-size: 40px;
    padding-left: 0%;
  }
  .bear_descripcion {
    font-size: 20px;
    text-align: center;
  }
  .emi {
    height: 850px;
    background-position-x: 80%;
    background-position-y: 40%;
  }
  .mica {
    height: 880px;
    background-position-x: 35%;
    background-position-y: 70%;
  }
  .text_left {
    text-align: center;
    padding-top: 75%;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .text_right {
    text-align: center;
    padding-top: 75%;
    padding-bottom: 0%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.servicios {
  background-image: url(../assets/img/servicios.jpg);
  height: 1200px;
}

.servicios__what_we_do {
  padding-top: 8%;
  padding-bottom: 0;
  padding-left: 25%;
  padding-right: 25%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.servicios__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 5%;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.servicios__items__cajitas {
  padding: 15%;
}

@media screen and (max-width: 576px) {
  .servicios {
    height: 1700px;
  }
  .servicios__what_we_do {
    padding-left: 15%;
    padding-right: 15%;
  }
  .servicios__items {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 10%;
    padding-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
  }
  .servicios__items__cajitas {
    padding: 5%;
  }
  .servicios__btn {
    margin-top: 50px;
  }
  .btn-servicios {
    display: none;
  }
}
.gallery {
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery .box {
  position: relative;
  margin: 5px;
  opacity: 70%;
  transition: all 0.5s ease;
}
.gallery .box:hover {
  opacity: 100%;
  transform: scale(102%);
  -webkit-transform: scale(102%);
  -o-transform: scale(102%);
  -moz-transform: scale(102%);
}
.gallery .box:hover .button-play {
  transform: scale(80%);
}
.gallery .button-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

@media screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    text-align: center;
  }
  .gallery .box img {
    width: 90%;
  }
  .gallery .box:hover .button-play {
    transform: scale(0%);
  }
  .gallery .button-play {
    transform: scale(0.07);
  }
}
.contenido_contacto {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  padding: 25px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
  margin: 25px;
  color: white;
}
.formulario .input {
  font-weight: 300;
  font-size: 16px;
  background-color: #1e1e1e;
  width: 700px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #fff;
  padding: 10px;
}
.formulario ::placeholder {
  color: #cecece;
}
.formulario textarea {
  font-weight: 300;
  font-size: 16px;
  background-color: #1e1e1e;
  border-color: #fff;
  border-radius: 10px;
  width: 700px;
  height: 200px;
  resize: none;
  padding: 10px;
  color: #cecece;
}

.data {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px;
}
.data li {
  margin: 10px;
  list-style: none;
}
.data li a {
  color: #fff;
}
.data li a i {
  margin-right: 7px;
}
.data li a:hover {
  color: #c52636;
}

@media screen and (max-width: 576px) {
  .contenido_contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.7fr;
  }
  .formulario {
    align-items: center;
    gap: 20px;
    margin: 15px;
  }
  .formulario .input {
    font-weight: 300;
    font-size: 13px;
    width: 320px;
  }
  .formulario textarea {
    font-weight: 300;
    font-size: 13px;
    width: 320px;
    height: 180px;
  }
  .data {
    justify-content: center;
    margin: 10px;
    padding-top: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
