.gallery {
    @extend %flexcentrar;
    flex-direction: row;
    flex-wrap: wrap;  
    .box{
        position: relative;
        margin:5px;
        opacity: 70%;
        transition: all 0.5s ease;
        &:hover{
            opacity: 100%;
            transform: scale(102%);
            -webkit-transform: scale(102%);
            -o-transform: scale(102%);
            -moz-transform: scale(102%);
        }
        &:hover .button-play{
            transform: scale(80%);
        }
    }
    .button-play{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        @extend %flexcentrar;
        transform: scale(0);
        transition: 0.3s ease;
    }
}
@media screen and (max-width:$bp-xs)
{
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        text-align: center;
        .box{
            img{
                width: 90%;                    
            }
            &:hover .button-play{
                transform: scale(0%);
            }
        }
    }    
}