.gallery {
    text-align: center;
}
.play{
    opacity: 70%;
    &:hover{
        opacity: 100%;
    }
    img{
        padding:3px;        
        transition: all 0.5s ease;
        &:hover{  
            transform: scale(102%);
            -webkit-transform: scale(102%);
            -o-transform: scale(102%);
            -moz-transform: scale(102%);
        }
    }    
}
@media screen and (max-width:$bp-xs)
{
    .play{
        img{
            width: 90%;           
        }
    }
}