header {
    background: map-get($gradiente, gradiente-down);
    nav{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        height: 100px;
        @include padding-l-r(5%,5%);
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
            li{
                a{
                    @include fuente-weight-size($bold,16px);
                    text-decoration: none;
                }
            }
        }
    }
    @media screen and (max-width:$bp-xs)
    {
        nav{
            flex-direction: column;
            height: 250px;
            text-align: center;
            ul {
                flex-direction: column;
                gap: 10px;
                li{
                    a{
                        font-size: 13px;
                    }
                }
            }            
        }
    }
}
.nav__h1{
    font-weight: $extra-bold;
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width:$bp-xs)
    {
        .nav__h1{
            font-size: 18px;
        }
    }
}